<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Capsule Medicine Finder</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="hero">

  <h1>Find Medicine Alternatives</h1>

  <div class="search-box">
    <input type="text" id="searchInput" placeholder="Search Napa, Ace..." />
    <button onclick="searchMedicine()">Search</button>
  </div>

  <div id="results"></div>

</div>

<script src="app.js"></script>
</body>
</html>